@model Sberbank.Models.Options

@using (@Html.BeginForm(new { @class = "form-row" })) {
    <div class="form-group">
        <div class="form-check-inline mr-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    @Html.LabelFor(m => m.DateBegin, new { @class = "input-group-text" })
                </div>
                <input type="text" class="form-control" name="DateBegin" id="DateBegin" />
                <div id="dateBeginError" class="invalid-feedback">
                    Дата должна быть задана в формате DD.MM.YYYY
                </div>
            </div>
        </div>
        <div class="form-check-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    @Html.LabelFor(m => m.DateEnd, new { @class = "input-group-text" })
                </div>
                <input type="text" class="form-control" name="DateEnd" id="DateEnd" />
                <div id="dateEndError" class="invalid-feedback">
                    Дата должна быть задана в формате DD.MM.YYYY
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check form-check-inline  mr-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" class="form-check-input" name="Param1" id="Param1" />
                    </div>
                </div>
                @Html.LabelFor(m => m.Param1, new { @class = "form-check-label form-control input-group-text" })
            </div>
        </div>
        <div class="form-check form-check-inline mr-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" class="form-check-input" name="Param2" id="Param2" />
                        </div>
                </div>
                @Html.LabelFor(m => m.Param2, new { @class = "form-check-label form-control input-group-text" })
            </div>
        </div>
        <div class="form-check-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        @Html.CheckBoxFor(m => m.Param3, new { @class = "form-check-input" })
                    </div>
                </div>
                @Html.LabelFor(m => m.Param3, new { @class = "form-check-label form-control input-group-text" })
            </div>
        </div>
    </div>



    <div class="form-group mt-5">
        <input type="submit" id="submitParam" class="btn" value="Сформировать отчет" />
    </div>
}


